@CHARSET "UTF-8";

.flacso-search-adv-entry {
    background-color: #002044;
}
.flacso-search-adv-entry .search-item {
    margin-bottom: 1em;
}
.dropdown-checkbox dd, .dropdown-checkbox dt {
    margin:0px;
    padding:0px;
}
.dropdown-checkbox ul {
    margin: -1px 0 0 0;
}
.dropdown-checkbox dd {
    clear: left;
    position:relative;
}
.dropdown-checkbox a, 
.dropdown-checkbox a:visited {
    color:#fff;
    text-decoration:none;
    outline:none;
    font-size: 12px;
}
.dropdown-checkbox dt .clickable {
    background-color: #FFFFFF;
    display: block;
    font-weight: normal;
    padding: 0.25em 0.5em;
    border:0;
}
.dropdown-checkbox dt .clickable:hover {
    background-color: #ebebeb;
    cursor: pointer;
}
.dropdown-checkbox dt .clickable.toggled {
    background-color: #2c6db6;
    color: #fff;
}
.dropdown-checkbox dt div span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 3px 2px 0;
}
.dropdown-checkbox .mutliSelect label {
    font-weight: normal;
}
.dropdown-checkbox .mutliSelect label:hover {
    cursor: pointer;
}
.dropdown-checkbox dd ul {
    background: #ebebeb;
    border:0;
    display:none;
    font-size: 0.875em;
    padding: 0.571em;
    position: relative;
        left:0;
        top: -1.45em;
    list-style:none;
    height: auto;
    max-height: 240px;
    overflow: auto;
    width: 100%;
}
.dropdown-checkbox span.value {
    display:none;
}
.dropdown-checkbox dd ul li a {
    padding:5px;
    display:block;
}
.dropdown-checkbox dd ul li a:hover {
    background-color:#fff;
}

.dropdown-checkbox .mutliSelect {
	position: relative;
	z-index: 9999;
}

.dropdown-checkbox .clickable p {
    display: block;
    float: left;
    width: 100%;
}

.dropdown-checkbox-header-label {
    color: #fff;
}

.dropdown-checkbox .caret {
    padding: 0;
}

.adv-search-box-custom-field > label {
    color: #fff;
    width: 100%;
}

.adv-search-box-custom-field .search-field {
    width: 100%;
    border-radius: 0;
    background-color: #fff;
    padding: 0.25em 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.multiSel > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

/* evitar a quebra na respota ajax */
#main { 
    min-height: 500px;
}
