.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

/* Posts in columns */
.hentry--columns {
	background-color: #fff;
	padding: 1em;
}

.hentry--columns .entry-meta {
	background-color: $color__tertiary;
	font-size: 0.875em;
	padding: 0.5em;
}

.entry-title {
	font-weight: bold;
	margin-bottom: 0.25em;
}

.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-share {
	padding: 1em 0;
}

.entry-footer {
	border-width: $border-width 0;
	border-color: $color__tertiary;
	border-style: solid;
	padding: 1em 0;
}

/* Read more */
.more-sign {
	background: $color__primary;
	border-radius: 50%;
	display: inline-block;
	padding: 0.125em 0.35em;
	line-height: 1;
}

.more-sign--alternate {
	background: $color__area-title--secondary;
	color: $color__primary;
}

.read-more {
	 color: $color__quaternary;
	 font-size: 0.875em;
	 padding: 0.25em;
	 text-transform: lowercase;

	 .more-sign {
	 	color: #fff;
	 	font-weight: normal;
	 	margin-left: 0.5em;
	 }

	 .more-sign--alternate {
	 	color: $color__primary;
	 }
}

.read-more--absolute {
	position: absolute;
		top: 0.5em;
		right: 1.5em;

}

.read-more:visited {
	color: $color__quaternary;
}

/* Share links */
.share-link {
	background: $color__tertiary;
	color: #fff;
	font-weight: normal;
	display: block;
	padding: 1em;
	text-align: center;
}

.share-link--twitter {
	background: $color__twitter;
}

.share-link--facebook {
	background: $color__facebook;
}

.share-link--googleplus {
	background: $color__googleplus;
}