/* General items */
.entry-meta--tax {
	margin-bottom: 0.5em;
	
	a {
		background-color: $color__quaternary;
		font-size: 0.875em;
		padding: 0.5em;
	}
}

.post-edit-link {
	background-color: $color__quaternary;
	display: inline-block;
	font-size: 0.75em;
	font-weight: normal;
	padding: 0.125em 0.25em;
	text-transform: uppercase;
}

/* Sticky posts */
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
	word-wrap: break-word;

	/* Bootstrap pull-left classes inside .hentry divs */
	.pull-left {
		margin-right: 1em;
	}
	
	/* Add a border bottom for .hentry.media */
	&.media {
		@include main-border-bottom;
		padding-bottom: 1.5em;
	}
}

.hentry--no-margin {
	margin: 0;
}

/* Posts in columns */
.hentry--columns {
	background-color: #fff;
	padding: 1em;
}

.hentry--columns .entry-meta {
	background-color: $color__quaternary;
	font-size: 0.875em;
	padding: 0.5em;
}

.entry-title {
	font-weight: bold;
	margin-bottom: 0.25em;
}

.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-content--summary {
	margin: 1.5em 0 0;
}

.entry-content--summary {
	p {
		margin: 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer,
.entry-meta {
	border-width: $border-width 0;
	border-color: $color__quaternary;
	border-style: solid;
	margin-top: 1.5em;
	padding: 1em 0;
}

.entry-meta--basic {
	@include entry-meta--basic;
}

.entry-footer {
	.tax-name {
		margin-right: 0.5em;
		text-transform: lowercase;
	}
}

.single {
	.entry-title {
		margin-top: 0;
	}
}

/* Galleries */
.gallery-item {
	margin-bottom: 0;
	padding: 1px;
}

/* Taxonomy blocks / lists */
.taxonomy-list {

	list-style-type: none;
	margin: 0;
	padding: 0;

	li  {
		display: inline;
		width: 10%;


		a {
			border: 1px solid $color__primary;
			display: block;
			color: $color__text-alternate;
			float: left;
			font-size: 0.875em;
			line-height: 1.2;
			min-height: 125px;
			text-align: center;
			padding: 1em;
			width: 50%;

			&:hover {
				color: $color__tertiary;
			}

			@media (min-width: $screen-xs-min) {
				width: 25%;
			}

			@media (min-width: $screen-sm-min) {
				width: 12.5%;
			}

			@media (min-width: $screen-md-min) {
				width: 16.666%;
			}

			@media (min-width: $screen-lg-min) {
				width: 8.333%;
			}
		}

		.icon {
			display: block;
			margin-bottom: 0.5em;

			&:before {
				font-size: 3em;
				vertical-align: middle;
			}
		}
	}

}

/* Read more */
.more-sign {
	background: $color__primary;
	border-radius: 50%;
	display: inline-block;
	padding: 0.125em 0.35em;
	line-height: 1;
}

.more-sign--alternate {
	background: $color__area-title--secondary;
	color: $color__primary;
}

.read-more {
	 color: $color__quinary;
	 font-size: 0.875em;
	 padding: 0.25em;
	 text-transform: lowercase;

	 .more-sign {
	 	color: #fff;
	 	font-weight: normal;
	 	margin-left: 0.5em;
	 }

	 .more-sign--alternate {
	 	color: $color__primary;
	 }
}

.read-more--absolute {
	position: absolute;
		top: 0.5em;
		right: 1.5em;

}

.read-more:visited {
	color: $color__quinary;
}

/* Share links */
.entry-share {
	padding: 1em 0;
}

.entry-share__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.entry-share__item {
	background: $color__quaternary;
	color: $color__primary;
	display: block;
	padding: 1em;
	text-align: center;

	@media(min-width: $screen-sm-min){
		float: left;
		width: 25%;
	} 
}

.entry-share__item--twitter {
	background: $color__twitter;
}

.entry-share__item--facebook {
	background: $color__facebook;
}

.entry-share__item--googleplus {
	background: $color__googleplus;
}

.share-link {
	font-weight: normal;
	color: #fff;
	display: block;

	&:hover {
		color: #fff;
		font-weight: bold;
	}

	&:visited {
		color: #fff;
	}
}

/* Archive */
.archive {
	.entry-title {
		font-size: 1.25em;
	}

	.entry-image {
		max-width: 150px;
	}
}

// For archives inside page templates, singles etc
.archive--secondary {
	.archive--secondary__header {
		margin-bottom: 1.5em;
	}

	.entry-meta {
		@include entry-meta--basic;
	}
}

.page-header {
	background: $color__quaternary;
	margin: 0 0 2em;	
	padding: 1.5em;
}

.page-title {
	padding: 0;
	font-size: 1.125em;
	font-weight: bold;
}

/* Page templates */
.general-list__item {
	@include main-border-bottom;
	padding: 1em 0;
	margin-bottom: 1.5em;
}

.general-list {
	.general-list__item:last-child {
		border-bottom: 0;
	}
}

/* Post type Project */
.single-project {
	.entry-program {
		background-color: $color__quaternary;
		padding: 1.5em;
		text-align: center;
	}
}

/* Post type Document */
.single-document {
	.entry-meta {
		margin-top: 1.5em;
	}
}

.entry-download {
	margin-top: 1.5em;

	.download-link {
		margin-bottom: 1em;
	}
}

/* Post type Agenda */
.post-type-archive-agenda {

	@media (min-width: $screen-sm-min) {
		.page-header {
			position: relative;
		}

		.view-events {
			position: absolute;
			right: 2.125em;
			top: 2.125em;
		}
	}
}

.entry-agenda__item {
	border-bottom: 2px dotted $color__secondary;
	padding: 1em 0;

	span {
		display: block;
		font-size: 0.875em;
		text-transform: lowercase;
	}
}