.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

/* Posts in columns */
.hentry--columns {
	background-color: #fff;
	padding: 1em;
}

.hentry--columns .entry-meta {
	background-color: $color__tertiary;
	font-size: 0.875em;
	padding: 0.5em;
}

.hentry--columns .entry-title {
	font-size: 1.25em;
}

.entry-title {
	font-weight: bold;
	margin-bottom: 0.25em;
}

.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}