.widget {
	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.widget-title {
		margin: 0 0 1.5em;
		font-size: 1em;
	}
}

.widget-area--main {
	.widget {
		padding: 1.5em;
	}

	.widget-title {
		color: $color__tertiary;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/* Library widget */
.widget_flacso_library {
	background: $color__primary;
	
	.taxonomy-list {

		a {
			background: transparent;
			min-height: 50px;
		
			@media (min-width: $screen-md-min) {

				.icon {
					display: inline-block;
				}
				
				text-align: left;
				width: 100%;
			}
		}
	}
}

/* Featured links / Banners Widget Area */
.featured-links {
	.widget-title {
		display: none;
	}
}

/* SendPress widget */
.widget.sendpress {
	p {
		margin-bottom: 0;
	}

	.sendpress-submit {
		width: 100%;
	}
}

/* GEA Documentation Center */
.widget_flacso_gea_documentation_widget {
	background: $color__senary;
	border: 3px solid #fff;
	color: #fff;
	margin-left: 5px;
	padding: 0 !important;
	position: relative;
	text-align: center;

	&:after {
		content: ' ';
		position: absolute;
		top: -8px;
		left: -8px;
		bottom: -8px;
		right: -8px;
		background: $color__senary;
		z-index: -1;
	}

	.icon {
		font-size: 4em;
	}

	.widget-title {
		color: #fff;
		font-size: 1.25em;
		margin-bottom: 1.2em;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		color: #fff;
		display: block;
		font-weight: normal;
		padding: 1.5em;

		&:hover {
			background-color: $color__secondary;
		}
	}

	.documentation-center-counter {
		display: block;
		font-size: 1.25em;
		font-weight: bold;
	}

	.documentation-center-highlight {
		border-style: dotted;
		border-width: 2px 0;
		font-weight: bold;
		padding: 1.5em 0;
	}
}
