.widget {
	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.widget-title {
		margin: 0 0 1.5em;
		font-size: 1em;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

.widget-area--main {
	.widget {
		padding: 1.5em;
	}

	.widget-title {
		color: $color__tertiary;
	}
}

/* Library widget */
.widget_flacso_library {
	background: $color__primary;
	
	.taxonomy-list {

		a {
			background: transparent;
		
			@media (min-width: $screen-md-min) {

				.icon {
					display: inline-block;
				}
				
				text-align: left;
				width: 100%;
			}
		}
	}
}

/* Featured links / Banners Widget Area */
.featured-links {
	.widget-title {
		display: none;
	}
}