.wp-caption {
	background: $color__quaternary;
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		font-size: 0.875em;
		margin-bottom: 0;
		padding: 0.5em;
		text-align: center;
	}
}