// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

a.icon--rounded {
	background-color: $color__primary;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 3em;
	padding: 0.25em;

	&:hover {
		background-color: $color__tertiary;
	}

}

.wrapper {
	padding: $section__padding 0;
}

.wrapper--small {
	padding: ($section__padding/2.5) 0;
}

.site-main {
	padding: $section__padding 0;
}

.area-title {
	color: $color__area-title;
	font-weight: bold;
	margin-bottom: 1.5em;
}

.area-title--secondary {
	color: $color__area-title--secondary;
}

/* Site header */
.site-complementary {
	font-size: 0.875em;
}

.site-branding__image_link {
	display: block;
	text-align: center;
}

.site-title {
	margin-bottom: 0;
}

.site-description {
	font-size: 1.5em;
	margin-top: 0;
}

/* Front Page content */
.featured-intro .hentry {
	@include main-border-bottom;
	padding: 2em 0;
}

.featured-intro .hentry .entry-content--summary {
	font-size: 1.125em;
}

.feature .entry-title {
	font-size: 1.25em;
}

.featured-category {
	background-color: $color__featured-category;
}

.featured-news {
	background-color: $color__quaternary;	
}

.site-footer {
	background-color: $color__footer;
	background-image: url('images/bg-footer.png');
	color: $color__text-alternate;

	a {
		color: $color__tertiary;
	}
}

/* GEA specific styles */
.gea {
	.site-footer {
		background-image: url('images/bg-footer--gea.png');
	}
}

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
@import "primary/comments";