// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

.wrapper {
	padding: $section__padding;
}

.area-title {
	color: $color__area-title;
	font-weight: bold;
	margin-bottom: 1.5em;
}

.area-title--secondary {
	color: $color__area-title--secondary;
}

.site-header a {
	color: $color__link--secondary;
}

/* Front Page content */
.featured-intro .hentry {
	border-bottom: $border-width solid $color__tertiary;
	padding: 1.5em 0;
}

.featured-intro .hentry .entry-content--summary {
	font-size: 1.125em;
}

.feature .entry-title {
	font-size: 1.25em;
}

.featured-category {
	background-color: $color__featured-category;
}

.featured-news {
	background-color: $color__tertiary;	
}

.site-footer {
	background-color: $color__footer;
	color: $color__text-alternate;
}

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
@import "primary/comments";