button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button {
	border: 0;
	border-radius: $border-radius;
	background: $color__tertiary;
	color: #fff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 0.875em;
	font-weight: bold;
	line-height: 1;
	padding: 0.6em 1em 0.5em;
	text-align: center;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a.button:hover {
	background: $color__primary;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
a.button:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
a.button:active {
	border-color: $color__border-button-focus;
	
}